# Attempt to load files from production if they're not in our local version. Put this file in upload folder.
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule (.*) http://cfdp.dk/wordpress/wp-content/Cimy_User_Extra_Fields/$1
</IfModule>