// https://github.com/artberri/sidr

$sidebar-width: 260px;
$sidebar-width-neg: -260px;
$sidebar-bg-color: #006cb6;

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: $sidebar-width;
  overflow-x: hidden;
  overflow-y: auto;
  background: $sidebar-bg-color;

  &.right {
    left: auto;
    right: $sidebar-width-neg;
  }

  .menu {
    padding-top: 10px;
    border-bottom: 1px solid darken($sidebar-bg-color, 5%);

    li {
      display: block;

      &.current-menu-item {
        a {
          background: darken($sidebar-bg-color, 5%);
        }

        .sub-menu li a {
          background: none;
        }
      }

      a {
        font-family: 'Lato', Sans-Serif;
        display: block;
        padding: 14px 20px;
        font-size: 18px;
        color: white;
        border-top: 1px solid darken($sidebar-bg-color, 5%);
      }

      .sub-menu {
        a {
          letter-spacing: 0;
          text-transform: none;
          padding-left: 30px;
          color: rgba(255, 255, 255, .9);
          border-top: none;
          &:before {
            content: "- "
          }
        }
      }
    }
  }
}

#toggle-menu-button {
  display: block;
  font-size: 16px;
  border: 1px solid #efefef;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 17px;
}