@import "mixins";

#cssmenu {
    font-family: 'Montserrat', Sans-Serif;
    display: block;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: .8em;
    padding-bottom: .5em;
    > ul{
        > li {
            margin-bottom: 1em;
            > ul{
                margin-left: 20px;  
                font-size: 20px;
                line-height: 1.3em;
                > li {
                    margin-bottom: 0.5em;
                    &:first-child {
                        margin-top: 0.8em;
                    }
                }
            }
        }
    }
}

