@import "mixins";

#menu-item-16194 {
  // Hide in english menu item on desktop
  display: none !important
}

.nav {
  .header__menu {
    float: right;
    height: 75px;

    ul {
      display: inline-block;

      li {
        display: block;
        float: left;
        border-right: 1px solid #ece3d6;

        &:first-child {
          border-left: 1px solid #ece3d6;
        }

        &:hover {
          background: #006AB9;
        }

        a {
          font-family: 'Lato', Sans-Serif;
          padding: 28px 20px 22px;
          font-size: 16px;
          font-weight: bold;
          display: inline-block;

          &:hover {
            text-decoration: none;
            color: white;
          }
        }

        &.current-menu-item {
          position: relative;
          background: #006AB9;


          // Hack to display a small triangle on 1 level menu items https://i.imgur.com/35Rsem8.png
          &.menu-item-has-children {
            &:after {
              content:"";
              display: block;
              position: absolute;
              bottom: -1px;
              left: 50%;
              margin-left: -8px;
              z-index: 9999;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid #F7FCFF;
            }
          }

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .searchbar {
    position: relative;
    float: right;
    height: 75px;

    :after {
      position: absolute;
      right: 23px;
      top: 32px;
      content:"";
      display: block;
      width: 14px;
      height: 14px;
      @include background-2x( 'http://cfdp.dk/wordpress/wp-content/themes/cfdp_2.1/img/icon-search', 'png', 14px, 14px, center center, repeat-x );
    }


    input {
      font-size: 14px;
      color: #999;
      background: #EFEFEF;
      height: 32px;
      width: 135px;
      border-radius: 3px;
      padding-left: 7px;
      margin: 22px 15px 0;
      border: none;
    }
  }
  .icon-english-flag {
    position: relative;
    float: right;
    display: block;
    width: 36px;
    height: 24px;
    margin: 25px 0 20px 0;
    @include background-2x( 'http://cfdp.dk/wordpress/wp-content/themes/cfdp_2.1/img/icon-english-flag', 'png', 36px, 24px, center center, repeat-x );
    // Hide text
    font-size: 0;
    color: transparent;

    &:hover {
      @include filter(brightness,89%);
    }
  }
}

// Messy hack to show sub menu for selected page only :/

.header__sub-menu {
  position: relative;
  left: -25px;
  top: -1px;
  width: 1040px !important;
  background: #F7FCFF;
  border-top: 1px solid #ece3d6;
  margin-bottom: 30px;


  .menu-item{
    display: none;
  }

  .current-menu-item,
  .current-menu-parent {
    display: block;

    > a {
      display: none;
    }

    .sub-menu {
      text-align: center;

      .menu-item {
        display: inline-block;

        a {
          font-family: 'Lato', Sans-Serif;
          display: inline-block;
          padding: 20px 10px 16px;
          font-size: 16px;
          font-weight: bold;
        }

        &.current-menu-item a {
          color: black;
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }
}

.delimiter {
  position: relative;
  left: -25px;
  width: 1040px !important;
  border-bottom: 1px solid #ece3d6;
}

#toggle-menu-button {
  display: none;
}