chtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Containers
----------------------------------------------------------------------------------------------------*/
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1020px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-right: 15px; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .grid_1 {
  width: 55px; }

.wrap .grid_2 {
  width: 140px; }

.wrap .grid_3 {
  width: 225px; }

.wrap .grid_4 {
  width: 310px; }

.wrap .grid_5 {
  width: 395px; }

.wrap .grid_6 {
  width: 480px; }

.wrap .grid_7 {
  width: 565px; }

.wrap .grid_8 {
  width: 650px; }

.wrap .grid_9 {
  width: 735px; }

.wrap .grid_10 {
  width: 820px; }

.wrap .grid_11 {
  width: 905px; }

.wrap .grid_12 {
  width: 990px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .prefix_1 {
  padding-left: 85px; }

.wrap .prefix_2 {
  padding-left: 170px; }

.wrap .prefix_3 {
  padding-left: 255px; }

.wrap .prefix_4 {
  padding-left: 340px; }

.wrap .prefix_5 {
  padding-left: 425px; }

.wrap .prefix_6 {
  padding-left: 510px; }

.wrap .prefix_7 {
  padding-left: 595px; }

.wrap .prefix_8 {
  padding-left: 680px; }

.wrap .prefix_9 {
  padding-left: 765px; }

.wrap .prefix_10 {
  padding-left: 850px; }

.wrap .prefix_11 {
  padding-left: 935px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .suffix_1 {
  padding-right: 85px; }

.wrap .suffix_2 {
  padding-right: 170px; }

.wrap .suffix_3 {
  padding-right: 255px; }

.wrap .suffix_4 {
  padding-right: 340px; }

.wrap .suffix_5 {
  padding-right: 425px; }

.wrap .suffix_6 {
  padding-right: 510px; }

.wrap .suffix_7 {
  padding-right: 595px; }

.wrap .suffix_8 {
  padding-right: 680px; }

.wrap .suffix_9 {
  padding-right: 765px; }

.wrap .suffix_10 {
  padding-right: 850px; }

.wrap .suffix_11 {
  padding-right: 935px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .push_1 {
  left: 85px; }

.wrap .push_2 {
  left: 170px; }

.wrap .push_3 {
  left: 255px; }

.wrap .push_4 {
  left: 340px; }

.wrap .push_5 {
  left: 425px; }

.wrap .push_6 {
  left: 510px; }

.wrap .push_7 {
  left: 595px; }

.wrap .push_8 {
  left: 680px; }

.wrap .push_9 {
  left: 765px; }

.wrap .push_10 {
  left: 850px; }

.wrap .push_11 {
  left: 935px; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .pull_1 {
  left: -85px; }

.wrap .pull_2 {
  left: -170px; }

.wrap .pull_3 {
  left: -255px; }

.wrap .pull_4 {
  left: -340px; }

.wrap .pull_5 {
  left: -425px; }

.wrap .pull_6 {
  left: -510px; }

.wrap .pull_7 {
  left: -595px; }

.wrap .pull_8 {
  left: -680px; }

.wrap .pull_9 {
  left: -765px; }

.wrap .pull_10 {
  left: -850px; }

.wrap .pull_11 {
  left: -935px; }

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }
