chtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #006cb6; }
  .sidr.right {
    left: auto;
    right: -260px; }
  .sidr .menu {
    padding-top: 10px;
    border-bottom: 1px solid #005d9d; }
    .sidr .menu li {
      display: block; }
      .sidr .menu li.current-menu-item a {
        background: #005d9d; }
      .sidr .menu li.current-menu-item .sub-menu li a {
        background: none; }
      .sidr .menu li a {
        font-family: 'Lato', Sans-Serif;
        display: block;
        padding: 14px 20px;
        font-size: 18px;
        color: white;
        border-top: 1px solid #005d9d; }
      .sidr .menu li .sub-menu a {
        letter-spacing: 0;
        text-transform: none;
        padding-left: 30px;
        color: rgba(255, 255, 255, 0.9);
        border-top: none; }
        .sidr .menu li .sub-menu a:before {
          content: "- "; }

#toggle-menu-button {
  display: block;
  font-size: 16px;
  border: 1px solid #efefef;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 17px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* =Containers
--------------------------------------------------------------------------------*/
.wrap {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%; }

/* =Grid >> Global
--------------------------------------------------------------------------------*/
[class^="grid_"] {
  display: block; }

.wrap > [class^="grid_"] {
  margin-left: 1%;
  margin-right: 1%; }

/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

body {
  width: 100%;
  height: 100%;
  font: 18px/24px 'Roboto Slab', serif; }

.header__menu,
.wpadminbar,
.searchbar,
.icon-english-flag {
  display: none; }

.logo img {
  width: 200px;
  padding-top: 20px; }
  @media screen and (min-width: 375px) {
    .logo img {
      width: 250px;
      padding-top: 16px; } }

h1 {
  font-size: 36px;
  line-height: 1.2em; }

h2 {
  font-size: 28px; }

p {
  margin-bottom: 1em; }

body .SnapABug_Button,
.topLink {
  display: none !important; }

#dfcg-fullsize {
  width: 100% !important; }

iframe#facebook-faces {
  margin-bottom: 2em; }

.content {
  margin-bottom: 40px; }

div#respond textarea#comment {
  width: 100%;
  max-width: 640px; }

.sidebar {
  margin-top: 2em; }

.team.content .grid_4,
.partnere.content .grid_4 {
  zoom: 1;
  margin-bottom: 2em; }
  .team.content .grid_4:before, .team.content .grid_4:after,
  .partnere.content .grid_4:before,
  .partnere.content .grid_4:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .team.content .grid_4:after,
  .partnere.content .grid_4:after {
    clear: both; }

.team.content .presse,
.partnere.content .presse {
  margin-top: 0; }

.childCatPosts .post.grid_4 {
  width: 30%;
  float: left;
  margin-bottom: 2em;
  margin-right: 5%;
  font: 14px/20px 'Lato', Helveltica, Arial, Sans-Serif; }
  .childCatPosts .post.grid_4:last-child {
    margin-right: 0; }
  .childCatPosts .post.grid_4 img {
    width: 100%;
    height: auto; }

.leftFoot p {
  line-height: 1.25em; }

.rightFoot .grid_2 {
  display: block;
  width: 60px;
  height: 60px;
  float: left; }

.rightFoot .clearfix {
  margin-bottom: 0; }

.rightFoot div a {
  display: block;
  text-indent: -9999px; }

@media screen and (max-width: 640px) {
  body {
    background: none; }
  .wrap {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none; }
  .slider {
    display: none; }
  .content h2.heading {
    font: 28px 'Lato', Helveltica, Arial, Sans-Serif; }
  .childCatPosts .post.grid_4 {
    width: 100%;
    float: none;
    margin-bottom: 2em; }
    .childCatPosts .post.grid_4 img {
      width: 100%;
      height: auto; } }
